body{
    background-color: #352f5b;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background-color: rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos li{
    background-color: #423a6f;
    padding: 17px 34px;
    margin: 3px;
}
.todos li{
    background-color: #423a6f;
    padding: 17px 34px;
    margin: 3px;
}
.delete{
    cursor: pointer;
}
.hide-me{
    display: none !important;
}